{% extends 'base.html' %}

{% block content %}
    <p><a href="{{ url_for('index') }}">&lt; back</a></p>
	
    <h2>{{ agent.ip }}</h2>
	
	<p><a href="{{ url_for('agent_upload_sql', id=agent.id) }}">upload sql file</a></p>
	
	<p><a href="{{ url_for('agent_user_create', id=agent.id) }}">create new user</a></p>
	
    <table class="data">
    	<thead>
    		<tr>
    			<th>username</th>
    			<th>host</th>
				<th>action</th>
    		</tr>
    	</thead>
		<tbody>
            {% for user in users %}
                <tr>
	                <td>{{ user.username }}</td>
					<td>{{ user.location }}</td>
	                <td><a href="{{ url_for('agent_user_remove', id=agent.id, username=user.username) }}">remove</a></td>
	            </tr>
			{% endfor %}
		</tbody>
    </table>
{% endblock %}
