[iaas]
DRIVER=OPENNEBULA_XMLRPC
OPENNEBULA_URL=http://172.16.120.228:2633/RPC2
OPENNEBULA_USER=oneadmin
OPENNEBULA_PASSWORD=oneadmin
OPENNEBULA_IMAGE_ID=21
OPENNEBULA_NETWORK_ID=24
OPENNEBULA_SIZE_ID=1