[iaas]
DRIVER = OPENNEBULA

URL = http://16.06.19.86:4567 
USER = user
PASSWORD = pass
IMAGE_ID = 6 
INST_TYPE = small 
NET_ID = 1
NET_GATEWAY = 192.168.122.1 
NET_NAMESERVER = 192.168.122.1
OS_ARCH = x86_64
OS_ROOT = hda
DISK_TAREGET = hda
CONTEXT_TARGET = hdc
