[iaas]
DRIVER = OPENNEBULA

URL = http://16.06.19.86:4567 
XMLRPC = http://16.06.19.86:2633/RPC2 
USER = user
PASSWORD = pass
IMAGE_ID = 6 
INST_TYPE = custom 
NET_ID = 1
NET_GATEWAY = 192.168.122.1 
NET_NAMESERVER = 192.168.122.1
OS_ARCH = x86_64
OS_ROOT = hda
DISK_TARGET = hda
CONTEXT_TARGET = hdc

HOSTNAME = 16.06.19.86
PORT = 8899
TIMEUNIT = 10
COSTUNIT = 3
MAXNODES = 3
SPEEDFACTOR = 1

