[iaas]
DRIVER=OPENNEBULA_XMLRPC
OPENNEBULA_URL=http://10.30.1.14:2633/RPC2
#OPENNEBULA_URL=http://localhost:2633
OPENNEBULA_USER=oneadmin
OPENNEBULA_PASSWORD=oneadmin
OPENNEBULA_IMAGE_ID = 1
OPENNEBULA_SIZE_ID = 1
OPENNEBULA_NETWORK_ID = 1
OPENNEBULA_NETWORK_GATEWAY = 1
OPENNEBULA_NETWORK_NAMESERVER = 1

[manager]
find_existing_agents = true

[onevm_agent_template]
FILENAME=/home/ales/workspace/contrail/conpaassql-trunk/bin/agent.template
NAME=conpaassql_server
CPU=0.2
MEM_SIZE=256
DISK=bus=scsi,readonly=no
OS=arch=i686,boot = hd, root = hda
IMAGE_ID=193
NETWORK_ID=205
CONTEXT=target=sdc,files=/home/ales/sql/agent/conpaassql-install.sh