argparse
Fabric
fabric_threadsafe
PyMySQL
SQLAlchemy
apache-libcloud
colander
jsonrpclib
nose
oca
paramiko
-e git+https://github.com/ivan-korobkov/python-inject.git#egg=python-inject
requests