{known_hosts, $known_hosts}.
{mgmt_server, $mgmt_server}.
{join_lb_psv, lb_psv_simple}.
{key_creator, random_with_bit_mask}.
{key_creator_bitmask, {16#$[key]0000000000000000000000000000000, 16#3FFFFFFFFFFFFFFFFFFFFFFFFFFFFFFF}}.
