#---------------------------------------
# VM definition example
#---------------------------------------



CPU    = 0.5
MEMORY = 512
NAME = BaTSMan

INSTANCE_TYPE=small

OS     = [
  arch = x86_64
]

DISK	= [
  CLONEa = YES,
  DISK_ID = 0,
  IMAGE = BaTSManager2.0,
  IMAGE_ID = 77,
  READONLY = NO,
  SAVE = NO,
  TARGET=hda,
  TYPE=DISK 
]

NIC	= [
  BRIDGE = br0,
  NETWORK = "BaTSManager",
  NETWORK_ID = 12
]
# FEATURES=[ acpi="no" ]

GRAPHICS = [
  TYPE    = "vnc",
  LISTEN  = "0.0.0.0"
]

FEATURES = [
  acpi="yes"
]

RAW = [
  type = "kvm",
  data = " <serial type='pty'> <source path='/dev/pts/3'/> <target port='1'/> </serial>"
]


CONTEXT = [ 
  HOSTNAME   = "$NAME",
  NAMESERVER = 130.73.121.1,
  IP_GATEWAY = 10.0.0.1,
  IP_PUBLIC  = "$NIC[IP, NETWORK=\"BaTSManager\"]",
  TARGET = "sdb" 
]
