<?xml version="1.0"?>
<IpopConfig>
  <IpopNamespace>$namespace</IpopNamespace>
  <VirtualNetworkDevice>tapipop</VirtualNetworkDevice>
  <EnableMulticast>false</EnableMulticast>
  <EndToEndSecurity>false</EndToEndSecurity>
  <DHCPPort>67</DHCPPort>
  <AllowStaticAddresses>true</AllowStaticAddresses>
</IpopConfig>
