<?xml version="1.0"?>
<NodeConfig>
  <BrunetNamespace>real_ufl_test0_04</BrunetNamespace>
#if $node_address
  <NodeAddress>brunet:node:$node_address</NodeAddress>
#end if
  <EdgeListeners>
    <EdgeListener type="tcp">
      <port>0</port>
    </EdgeListener>
    <EdgeListener type="udp">
      <port>$udp_port</port>
    </EdgeListener>
  </EdgeListeners>
  <RemoteTAs>
#if $bootstrap_nodes
  #for $node in $bootstrap_nodes
    <Transport>brunet.$node</Transport>
  #end for
#else
    <Transport>brunet.tcp://193.136.166.56:49302</Transport>
    <Transport>brunet.udp://193.136.166.56:49302</Transport>
    <Transport>brunet.tcp://152.81.47.5:49302</Transport>
    <Transport>brunet.udp://152.81.47.5:49302</Transport>
    <Transport>brunet.tcp://194.167.254.19:49302</Transport>
    <Transport>brunet.udp://194.167.254.19:49302</Transport>
    <Transport>brunet.tcp://193.191.148.227:49302</Transport>
    <Transport>brunet.udp://193.191.148.227:49302</Transport>
    <Transport>brunet.tcp://202.112.28.100:49302</Transport>
    <Transport>brunet.udp://202.112.28.100:49302</Transport>
    <Transport>brunet.tcp://41.225.7.3:49302</Transport>
    <Transport>brunet.udp://41.225.7.3:49302</Transport>
    <Transport>brunet.tcp://192.41.135.218:49302</Transport>
    <Transport>brunet.udp://192.41.135.218:49302</Transport>
    <Transport>brunet.tcp://129.110.125.52:49302</Transport>
    <Transport>brunet.udp://129.110.125.52:49302</Transport>
    <Transport>brunet.tcp://152.3.138.6:49302</Transport>
    <Transport>brunet.udp://152.3.138.6:49302</Transport>
    <Transport>brunet.tcp://170.140.119.70:49302</Transport>
    <Transport>brunet.udp://170.140.119.70:49302</Transport>
    <Transport>brunet.tcp://206.117.37.7:49302</Transport>
    <Transport>brunet.udp://206.117.37.7:49302</Transport>
    <Transport>brunet.tcp://192.16.125.11:49302</Transport>
    <Transport>brunet.udp://192.16.125.11:49302</Transport>
    <Transport>brunet.tcp://87.236.232.174:49302</Transport>
    <Transport>brunet.udp://87.236.232.174:49302</Transport>
    <Transport>brunet.tcp://141.11.0.165:49302</Transport>
    <Transport>brunet.udp://141.11.0.165:49302</Transport>
    <Transport>brunet.tcp://128.238.88.65:49302</Transport>
    <Transport>brunet.udp://128.238.88.65:49302</Transport>
    <Transport>brunet.tcp://72.36.112.71:49302</Transport>
    <Transport>brunet.udp://72.36.112.71:49302</Transport>
    <Transport>brunet.tcp://212.51.218.235:49302</Transport>
    <Transport>brunet.udp://212.51.218.235:49302</Transport>
    <Transport>brunet.tcp://202.249.37.67:49302</Transport>
    <Transport>brunet.udp://202.249.37.67:49302</Transport>
    <Transport>brunet.tcp://75.130.96.12:49302</Transport>
    <Transport>brunet.udp://75.130.96.12:49302</Transport>
    <Transport>brunet.tcp://193.63.75.20:49302</Transport>
    <Transport>brunet.udp://193.63.75.20:49302</Transport>
    <Transport>brunet.tcp://164.107.127.12:49302</Transport>
    <Transport>brunet.udp://164.107.127.12:49302</Transport>
    <Transport>brunet.tcp://128.208.3.180:49302</Transport>
    <Transport>brunet.udp://128.208.3.180:49302</Transport>
    <Transport>brunet.tcp://204.8.155.226:49302</Transport>
    <Transport>brunet.udp://204.8.155.226:49302</Transport>
    <Transport>brunet.tcp://143.225.229.236:49302</Transport>
    <Transport>brunet.udp://143.225.229.236:49302</Transport>
    <Transport>brunet.tcp://193.166.160.99:49302</Transport>
    <Transport>brunet.udp://193.166.160.99:49302</Transport>
    <Transport>brunet.tcp://192.107.171.145:49302</Transport>
    <Transport>brunet.udp://192.107.171.145:49302</Transport>
    <Transport>brunet.tcp://192.33.210.17:49302</Transport>
    <Transport>brunet.udp://192.33.210.17:49302</Transport>
    <Transport>brunet.tcp://216.48.80.14:49302</Transport>
    <Transport>brunet.udp://216.48.80.14:49302</Transport>
    <Transport>brunet.tcp://219.243.208.60:49302</Transport>
    <Transport>brunet.udp://219.243.208.60:49302</Transport>
    <Transport>brunet.tcp://129.88.70.227:49302</Transport>
    <Transport>brunet.udp://129.88.70.227:49302</Transport>
    <Transport>brunet.tcp://128.10.19.52:49302</Transport>
    <Transport>brunet.udp://128.10.19.52:49302</Transport>
    <Transport>brunet.tcp://138.246.99.250:49302</Transport>
    <Transport>brunet.udp://138.246.99.250:49302</Transport>
    <Transport>brunet.tcp://131.188.44.100:49302</Transport>
    <Transport>brunet.udp://131.188.44.100:49302</Transport>
    <Transport>brunet.tcp://140.192.249.203:49302</Transport>
    <Transport>brunet.udp://140.192.249.203:49302</Transport>
    <Transport>brunet.tcp://139.19.142.1:49302</Transport>
    <Transport>brunet.udp://139.19.142.1:49302</Transport>
    <Transport>brunet.tcp://155.98.35.8:49302</Transport>
    <Transport>brunet.udp://155.98.35.8:49302</Transport>
    <Transport>brunet.tcp://94.93.82.147:49302</Transport>
    <Transport>brunet.udp://94.93.82.147:49302</Transport>
    <Transport>brunet.tcp://158.130.6.254:49302</Transport>
    <Transport>brunet.udp://158.130.6.254:49302</Transport>
    <Transport>brunet.tcp://133.68.253.242:49302</Transport>
    <Transport>brunet.udp://133.68.253.242:49302</Transport>
    <Transport>brunet.tcp://192.43.193.71:49302</Transport>
    <Transport>brunet.udp://192.43.193.71:49302</Transport>
    <Transport>brunet.tcp://130.194.252.9:49302</Transport>
    <Transport>brunet.udp://130.194.252.9:49302</Transport>
    <Transport>brunet.tcp://140.123.230.248:49302</Transport>
    <Transport>brunet.udp://140.123.230.248:49302</Transport>
    <Transport>brunet.tcp://128.10.19.53:49302</Transport>
    <Transport>brunet.udp://128.10.19.53:49302</Transport>
    <Transport>brunet.tcp://128.6.192.158:49302</Transport>
    <Transport>brunet.udp://128.6.192.158:49302</Transport>
    <Transport>brunet.tcp://137.132.80.105:49302</Transport>
    <Transport>brunet.udp://137.132.80.105:49302</Transport>
    <Transport>brunet.tcp://141.20.103.210:49302</Transport>
    <Transport>brunet.udp://141.20.103.210:49302</Transport>
    <Transport>brunet.tcp://143.107.111.235:49302</Transport>
    <Transport>brunet.udp://143.107.111.235:49302</Transport>
    <Transport>brunet.tcp://202.244.160.252:49302</Transport>
    <Transport>brunet.udp://202.244.160.252:49302</Transport>
    <Transport>brunet.tcp://213.215.48.41:49302</Transport>
    <Transport>brunet.udp://213.215.48.41:49302</Transport>
    <Transport>brunet.tcp://206.117.37.5:49302</Transport>
    <Transport>brunet.udp://206.117.37.5:49302</Transport>
    <Transport>brunet.tcp://194.167.254.18:49302</Transport>
    <Transport>brunet.udp://194.167.254.18:49302</Transport>
    <Transport>brunet.tcp://220.245.140.196:49302</Transport>
    <Transport>brunet.udp://220.245.140.196:49302</Transport>
    <Transport>brunet.tcp://128.138.207.45:49302</Transport>
    <Transport>brunet.udp://128.138.207.45:49302</Transport>
    <Transport>brunet.tcp://132.187.230.1:49302</Transport>
    <Transport>brunet.udp://132.187.230.1:49302</Transport>
    <Transport>brunet.tcp://128.233.252.12:49302</Transport>
    <Transport>brunet.udp://128.233.252.12:49302</Transport>
    <Transport>brunet.tcp://131.193.34.38:49302</Transport>
    <Transport>brunet.udp://131.193.34.38:49302</Transport>
    <Transport>brunet.tcp://152.3.138.7:49302</Transport>
    <Transport>brunet.udp://152.3.138.7:49302</Transport>
    <Transport>brunet.tcp://131.247.2.245:49302</Transport>
    <Transport>brunet.udp://131.247.2.245:49302</Transport>
    <Transport>brunet.tcp://133.15.59.2:49302</Transport>
    <Transport>brunet.udp://133.15.59.2:49302</Transport>
    <Transport>brunet.tcp://138.251.214.77:49302</Transport>
    <Transport>brunet.udp://138.251.214.77:49302</Transport>
    <Transport>brunet.tcp://129.108.202.11:49302</Transport>
    <Transport>brunet.udp://129.108.202.11:49302</Transport>
    <Transport>brunet.tcp://128.223.8.112:49302</Transport>
    <Transport>brunet.udp://128.223.8.112:49302</Transport>
    <Transport>brunet.tcp://129.110.125.51:49302</Transport>
    <Transport>brunet.udp://129.110.125.51:49302</Transport>
    <Transport>brunet.tcp://193.157.115.250:49302</Transport>
    <Transport>brunet.udp://193.157.115.250:49302</Transport>
    <Transport>brunet.tcp://131.179.150.70:49302</Transport>
    <Transport>brunet.udp://131.179.150.70:49302</Transport>
    <Transport>brunet.tcp://213.215.48.42:49302</Transport>
    <Transport>brunet.udp://213.215.48.42:49302</Transport>
    <Transport>brunet.tcp://192.33.210.16:49302</Transport>
    <Transport>brunet.udp://192.33.210.16:49302</Transport>
    <Transport>brunet.tcp://132.72.23.11:49302</Transport>
    <Transport>brunet.udp://132.72.23.11:49302</Transport>
    <Transport>brunet.tcp://138.48.3.202:49302</Transport>
    <Transport>brunet.udp://138.48.3.202:49302</Transport>
    <Transport>brunet.tcp://194.47.148.170:49302</Transport>
    <Transport>brunet.udp://194.47.148.170:49302</Transport>
    <Transport>brunet.tcp://140.123.230.249:49302</Transport>
    <Transport>brunet.udp://140.123.230.249:49302</Transport>
    <Transport>brunet.tcp://162.105.205.21:49302</Transport>
    <Transport>brunet.udp://162.105.205.21:49302</Transport>
    <Transport>brunet.tcp://130.192.157.131:49302</Transport>
    <Transport>brunet.udp://130.192.157.131:49302</Transport>
    <Transport>brunet.tcp://192.12.33.100:49302</Transport>
    <Transport>brunet.udp://192.12.33.100:49302</Transport>
    <Transport>brunet.tcp://200.132.1.4:49302</Transport>
    <Transport>brunet.udp://200.132.1.4:49302</Transport>
    <Transport>brunet.tcp://130.192.9.230:49302</Transport>
    <Transport>brunet.udp://130.192.9.230:49302</Transport>
    <Transport>brunet.tcp://128.114.63.16:49302</Transport>
    <Transport>brunet.udp://128.114.63.16:49302</Transport>
    <Transport>brunet.tcp://206.12.16.155:49302</Transport>
    <Transport>brunet.udp://206.12.16.155:49302</Transport>
    <Transport>brunet.tcp://157.92.44.101:49302</Transport>
    <Transport>brunet.udp://157.92.44.101:49302</Transport>
    <Transport>brunet.tcp://128.114.63.15:49302</Transport>
    <Transport>brunet.udp://128.114.63.15:49302</Transport>
    <Transport>brunet.tcp://133.1.74.162:49302</Transport>
    <Transport>brunet.udp://133.1.74.162:49302</Transport>
    <Transport>brunet.tcp://141.22.213.34:49302</Transport>
    <Transport>brunet.udp://141.22.213.34:49302</Transport>
    <Transport>brunet.tcp://128.208.4.199:49302</Transport>
    <Transport>brunet.udp://128.208.4.199:49302</Transport>
    <Transport>brunet.tcp://133.68.253.243:49302</Transport>
    <Transport>brunet.udp://133.68.253.243:49302</Transport>
    <Transport>brunet.tcp://200.17.202.194:49302</Transport>
    <Transport>brunet.udp://200.17.202.194:49302</Transport>
    <Transport>brunet.tcp://140.112.42.159:49302</Transport>
    <Transport>brunet.udp://140.112.42.159:49302</Transport>
    <Transport>brunet.tcp://128.84.154.45:49302</Transport>
    <Transport>brunet.udp://128.84.154.45:49302</Transport>
    <Transport>brunet.tcp://200.132.1.6:49302</Transport>
    <Transport>brunet.udp://200.132.1.6:49302</Transport>
    <Transport>brunet.tcp://131.247.2.247:49302</Transport>
    <Transport>brunet.udp://131.247.2.247:49302</Transport>
    <Transport>brunet.tcp://147.102.224.228:49302</Transport>
    <Transport>brunet.udp://147.102.224.228:49302</Transport>
    <Transport>brunet.tcp://129.82.12.187:49302</Transport>
    <Transport>brunet.udp://129.82.12.187:49302</Transport>
    <Transport>brunet.tcp://129.82.12.188:49302</Transport>
    <Transport>brunet.udp://129.82.12.188:49302</Transport>
    <Transport>brunet.tcp://156.56.250.226:49302</Transport>
    <Transport>brunet.udp://156.56.250.226:49302</Transport>
    <Transport>brunet.tcp://195.113.161.14:49302</Transport>
    <Transport>brunet.udp://195.113.161.14:49302</Transport>
    <Transport>brunet.tcp://169.229.50.15:49302</Transport>
    <Transport>brunet.udp://169.229.50.15:49302</Transport>
    <Transport>brunet.tcp://129.130.252.140:49302</Transport>
    <Transport>brunet.udp://129.130.252.140:49302</Transport>
    <Transport>brunet.tcp://143.205.172.12:49302</Transport>
    <Transport>brunet.udp://143.205.172.12:49302</Transport>
    <Transport>brunet.tcp://141.24.249.129:49302</Transport>
    <Transport>brunet.udp://141.24.249.129:49302</Transport>
    <Transport>brunet.tcp://129.105.15.38:49302</Transport>
    <Transport>brunet.udp://129.105.15.38:49302</Transport>
    <Transport>brunet.tcp://198.82.160.221:49302</Transport>
    <Transport>brunet.udp://198.82.160.221:49302</Transport>
    <Transport>brunet.tcp://129.97.74.12:49302</Transport>
    <Transport>brunet.udp://129.97.74.12:49302</Transport>
    <Transport>brunet.tcp://130.49.221.40:49302</Transport>
    <Transport>brunet.udp://130.49.221.40:49302</Transport>
    <Transport>brunet.tcp://160.193.163.106:49302</Transport>
    <Transport>brunet.udp://160.193.163.106:49302</Transport>
    <Transport>brunet.tcp://128.187.223.211:49302</Transport>
    <Transport>brunet.udp://128.187.223.211:49302</Transport>
    <Transport>brunet.tcp://129.63.159.101:49302</Transport>
    <Transport>brunet.udp://129.63.159.101:49302</Transport>
    <Transport>brunet.tcp://193.136.191.26:49302</Transport>
    <Transport>brunet.udp://193.136.191.26:49302</Transport>
    <Transport>brunet.tcp://134.121.64.7:49302</Transport>
    <Transport>brunet.udp://134.121.64.7:49302</Transport>
    <Transport>brunet.tcp://129.107.35.131:49302</Transport>
    <Transport>brunet.udp://129.107.35.131:49302</Transport>
    <Transport>brunet.tcp://136.145.115.194:49302</Transport>
    <Transport>brunet.udp://136.145.115.194:49302</Transport>
    <Transport>brunet.tcp://128.151.65.101:49302</Transport>
    <Transport>brunet.udp://128.151.65.101:49302</Transport>
    <Transport>brunet.tcp://72.36.112.74:49302</Transport>
    <Transport>brunet.udp://72.36.112.74:49302</Transport>
    <Transport>brunet.tcp://200.19.159.34:49302</Transport>
    <Transport>brunet.udp://200.19.159.34:49302</Transport>
    <Transport>brunet.tcp://203.178.133.2:49302</Transport>
    <Transport>brunet.udp://203.178.133.2:49302</Transport>
    <Transport>brunet.tcp://128.220.251.50:49302</Transport>
    <Transport>brunet.udp://128.220.251.50:49302</Transport>
    <Transport>brunet.tcp://128.111.52.58:49302</Transport>
    <Transport>brunet.udp://128.111.52.58:49302</Transport>
    <Transport>brunet.tcp://198.7.242.43:49302</Transport>
    <Transport>brunet.udp://198.7.242.43:49302</Transport>
    <Transport>brunet.tcp://128.119.41.211:49302</Transport>
    <Transport>brunet.udp://128.119.41.211:49302</Transport>
    <Transport>brunet.tcp://128.114.63.64:49302</Transport>
    <Transport>brunet.udp://128.114.63.64:49302</Transport>
    <Transport>brunet.tcp://128.208.4.198:49302</Transport>
    <Transport>brunet.udp://128.208.4.198:49302</Transport>
    <Transport>brunet.tcp://132.252.152.193:49302</Transport>
    <Transport>brunet.udp://132.252.152.193:49302</Transport>
    <Transport>brunet.tcp://132.181.10.57:49302</Transport>
    <Transport>brunet.udp://132.181.10.57:49302</Transport>
    <Transport>brunet.tcp://130.195.4.69:49302</Transport>
    <Transport>brunet.udp://130.195.4.69:49302</Transport>
    <Transport>brunet.tcp://130.127.39.153:49302</Transport>
    <Transport>brunet.udp://130.127.39.153:49302</Transport>
    <Transport>brunet.tcp://62.108.171.76:49302</Transport>
    <Transport>brunet.udp://62.108.171.76:49302</Transport>
    <Transport>brunet.tcp://206.12.16.154:49302</Transport>
    <Transport>brunet.udp://206.12.16.154:49302</Transport>
    <Transport>brunet.tcp://141.219.252.132:49302</Transport>
    <Transport>brunet.udp://141.219.252.132:49302</Transport>
    <Transport>brunet.tcp://190.227.163.141:49302</Transport>
    <Transport>brunet.udp://190.227.163.141:49302</Transport>
    <Transport>brunet.tcp://138.15.10.55:49302</Transport>
    <Transport>brunet.udp://138.15.10.55:49302</Transport>
    <Transport>brunet.tcp://108.58.13.205:49302</Transport>
    <Transport>brunet.udp://108.58.13.205:49302</Transport>
    <Transport>brunet.tcp://206.117.37.4:49302</Transport>
    <Transport>brunet.udp://206.117.37.4:49302</Transport>
    <Transport>brunet.tcp://213.131.1.101:49302</Transport>
    <Transport>brunet.udp://213.131.1.101:49302</Transport>
    <Transport>brunet.tcp://133.15.59.1:49302</Transport>
    <Transport>brunet.udp://133.15.59.1:49302</Transport>
    <Transport>brunet.tcp://200.0.206.137:49302</Transport>
    <Transport>brunet.udp://200.0.206.137:49302</Transport>
    <Transport>brunet.tcp://193.205.215.74:49302</Transport>
    <Transport>brunet.udp://193.205.215.74:49302</Transport>
    <Transport>brunet.tcp://192.12.33.102:49302</Transport>
    <Transport>brunet.udp://192.12.33.102:49302</Transport>
    <Transport>brunet.tcp://155.225.2.72:49302</Transport>
    <Transport>brunet.udp://155.225.2.72:49302</Transport>
    <Transport>brunet.tcp://204.123.28.56:49302</Transport>
    <Transport>brunet.udp://204.123.28.56:49302</Transport>
    <Transport>brunet.tcp://141.213.4.202:49302</Transport>
    <Transport>brunet.udp://141.213.4.202:49302</Transport>
    <Transport>brunet.tcp://128.8.126.111:49302</Transport>
    <Transport>brunet.udp://128.8.126.111:49302</Transport>
    <Transport>brunet.tcp://195.130.121.204:49302</Transport>
    <Transport>brunet.udp://195.130.121.204:49302</Transport>
    <Transport>brunet.tcp://198.133.224.149:49302</Transport>
    <Transport>brunet.udp://198.133.224.149:49302</Transport>
    <Transport>brunet.tcp://193.166.160.98:49302</Transport>
    <Transport>brunet.udp://193.166.160.98:49302</Transport>
    <Transport>brunet.tcp://130.37.193.143:49302</Transport>
    <Transport>brunet.udp://130.37.193.143:49302</Transport>
    <Transport>brunet.tcp://128.8.126.78:49302</Transport>
    <Transport>brunet.udp://128.8.126.78:49302</Transport>
    <Transport>brunet.tcp://128.36.233.154:49302</Transport>
    <Transport>brunet.udp://128.36.233.154:49302</Transport>
    <Transport>brunet.tcp://194.254.215.12:49302</Transport>
    <Transport>brunet.udp://194.254.215.12:49302</Transport>
    <Transport>brunet.tcp://192.6.26.32:49302</Transport>
    <Transport>brunet.udp://192.6.26.32:49302</Transport>
    <Transport>brunet.tcp://129.93.229.139:49302</Transport>
    <Transport>brunet.udp://129.93.229.139:49302</Transport>
    <Transport>brunet.tcp://138.48.3.203:49302</Transport>
    <Transport>brunet.udp://138.48.3.203:49302</Transport>
    <Transport>brunet.tcp://157.181.175.249:49302</Transport>
    <Transport>brunet.udp://157.181.175.249:49302</Transport>
    <Transport>brunet.tcp://72.36.112.79:49302</Transport>
    <Transport>brunet.udp://72.36.112.79:49302</Transport>
    <Transport>brunet.tcp://192.1.249.138:49302</Transport>
    <Transport>brunet.udp://192.1.249.138:49302</Transport>
    <Transport>brunet.tcp://192.1.249.137:49302</Transport>
    <Transport>brunet.udp://192.1.249.137:49302</Transport>
    <Transport>brunet.tcp://195.116.53.23:49302</Transport>
    <Transport>brunet.udp://195.116.53.23:49302</Transport>
    <Transport>brunet.tcp://143.225.229.238:49302</Transport>
    <Transport>brunet.udp://143.225.229.238:49302</Transport>
    <Transport>brunet.tcp://142.104.21.241:49302</Transport>
    <Transport>brunet.udp://142.104.21.241:49302</Transport>
    <Transport>brunet.tcp://216.48.80.12:49302</Transport>
    <Transport>brunet.udp://216.48.80.12:49302</Transport>
    <Transport>brunet.tcp://129.97.74.14:49302</Transport>
    <Transport>brunet.udp://129.97.74.14:49302</Transport>
    <Transport>brunet.tcp://198.82.160.238:49302</Transport>
    <Transport>brunet.udp://198.82.160.238:49302</Transport>
    <Transport>brunet.tcp://198.133.224.147:49302</Transport>
    <Transport>brunet.udp://198.133.224.147:49302</Transport>
    <Transport>brunet.tcp://206.23.240.29:49302</Transport>
    <Transport>brunet.udp://206.23.240.29:49302</Transport>
    <Transport>brunet.tcp://142.103.2.1:49302</Transport>
    <Transport>brunet.udp://142.103.2.1:49302</Transport>
    <Transport>brunet.tcp://199.26.254.69:49302</Transport>
    <Transport>brunet.udp://199.26.254.69:49302</Transport>
    <Transport>brunet.tcp://200.19.159.35:49302</Transport>
    <Transport>brunet.udp://200.19.159.35:49302</Transport>
    <Transport>brunet.tcp://130.149.49.137:49302</Transport>
    <Transport>brunet.udp://130.149.49.137:49302</Transport>
    <Transport>brunet.tcp://193.63.75.19:49302</Transport>
    <Transport>brunet.udp://193.63.75.19:49302</Transport>
    <Transport>brunet.tcp://129.74.74.19:49302</Transport>
    <Transport>brunet.udp://129.74.74.19:49302</Transport>
    <Transport>brunet.tcp://142.150.238.12:49302</Transport>
    <Transport>brunet.udp://142.150.238.12:49302</Transport>
    <Transport>brunet.tcp://200.0.206.168:49302</Transport>
    <Transport>brunet.udp://200.0.206.168:49302</Transport>
    <Transport>brunet.tcp://169.226.40.4:49302</Transport>
    <Transport>brunet.udp://169.226.40.4:49302</Transport>
    <Transport>brunet.tcp://156.62.231.244:49302</Transport>
    <Transport>brunet.udp://156.62.231.244:49302</Transport>
    <Transport>brunet.tcp://129.186.205.79:49302</Transport>
    <Transport>brunet.udp://129.186.205.79:49302</Transport>
    <Transport>brunet.tcp://137.99.11.86:49302</Transport>
    <Transport>brunet.udp://137.99.11.86:49302</Transport>
    <Transport>brunet.tcp://128.111.52.59:49302</Transport>
    <Transport>brunet.udp://128.111.52.59:49302</Transport>
    <Transport>brunet.tcp://129.242.19.197:49302</Transport>
    <Transport>brunet.udp://129.242.19.197:49302</Transport>
    <Transport>brunet.tcp://192.33.90.195:49302</Transport>
    <Transport>brunet.udp://192.33.90.195:49302</Transport>
    <Transport>brunet.tcp://130.104.72.201:49302</Transport>
    <Transport>brunet.udp://130.104.72.201:49302</Transport>
    <Transport>brunet.tcp://128.232.103.201:49302</Transport>
    <Transport>brunet.udp://128.232.103.201:49302</Transport>
    <Transport>brunet.tcp://130.65.6.225:49302</Transport>
    <Transport>brunet.udp://130.65.6.225:49302</Transport>
    <Transport>brunet.tcp://128.233.252.11:49302</Transport>
    <Transport>brunet.udp://128.233.252.11:49302</Transport>
    <Transport>brunet.tcp://203.178.143.28:49302</Transport>
    <Transport>brunet.udp://203.178.143.28:49302</Transport>
    <Transport>brunet.tcp://130.195.4.68:49302</Transport>
    <Transport>brunet.udp://130.195.4.68:49302</Transport>
    <Transport>brunet.tcp://130.253.21.121:49302</Transport>
    <Transport>brunet.udp://130.253.21.121:49302</Transport>
    <Transport>brunet.tcp://202.141.161.43:49302</Transport>
    <Transport>brunet.udp://202.141.161.43:49302</Transport>
    <Transport>brunet.tcp://192.42.83.252:49302</Transport>
    <Transport>brunet.udp://192.42.83.252:49302</Transport>
    <Transport>brunet.tcp://193.196.39.10:49302</Transport>
    <Transport>brunet.udp://193.196.39.10:49302</Transport>
    <Transport>brunet.tcp://130.216.1.22:49302</Transport>
    <Transport>brunet.udp://130.216.1.22:49302</Transport>
    <Transport>brunet.tcp://82.179.176.44:49302</Transport>
    <Transport>brunet.udp://82.179.176.44:49302</Transport>
    <Transport>brunet.tcp://129.22.150.29:49302</Transport>
    <Transport>brunet.udp://129.22.150.29:49302</Transport>
    <Transport>brunet.tcp://165.230.49.115:49302</Transport>
    <Transport>brunet.udp://165.230.49.115:49302</Transport>
    <Transport>brunet.tcp://128.112.139.97:49302</Transport>
    <Transport>brunet.udp://128.112.139.97:49302</Transport>
    <Transport>brunet.tcp://192.107.171.147:49302</Transport>
    <Transport>brunet.udp://192.107.171.147:49302</Transport>
    <Transport>brunet.tcp://192.42.43.23:49302</Transport>
    <Transport>brunet.udp://192.42.43.23:49302</Transport>
    <Transport>brunet.tcp://206.117.37.6:49302</Transport>
    <Transport>brunet.udp://206.117.37.6:49302</Transport>
    <Transport>brunet.tcp://131.179.150.72:49302</Transport>
    <Transport>brunet.udp://131.179.150.72:49302</Transport>
    <Transport>brunet.tcp://193.10.64.35:49302</Transport>
    <Transport>brunet.udp://193.10.64.35:49302</Transport>
    <Transport>brunet.tcp://129.15.78.31:49302</Transport>
    <Transport>brunet.udp://129.15.78.31:49302</Transport>
    <Transport>brunet.tcp://143.248.139.171:49302</Transport>
    <Transport>brunet.udp://143.248.139.171:49302</Transport>
    <Transport>brunet.tcp://94.93.82.149:49302</Transport>
    <Transport>brunet.udp://94.93.82.149:49302</Transport>
    <Transport>brunet.tcp://128.119.41.210:49302</Transport>
    <Transport>brunet.udp://128.119.41.210:49302</Transport>
#end if
  </RemoteTAs>
  <XmlRpcManager>
    <Enabled>true</Enabled>
    <Port>10000</Port>
  </XmlRpcManager>
  <NCService>
    <Enabled>true</Enabled>
    <OptimizeShortcuts>true</OptimizeShortcuts>
    <Checkpointing>false</Checkpointing>
  </NCService>
</NodeConfig>
