[global]
pid = $pid_file
error_log = $error_log
;log_level = notice
daemonize = yes
[www]
listen = 0.0.0.0:$port
;listen.allowed_clients = 127.0.0.1
user = $user
group = $group
pm = dynamic
pm.max_children = $max_children
pm.start_servers = $servers_start
pm.min_spare_servers = $servers_spare_min
pm.max_spare_servers = $servers_spare_max
pm.max_requests = $max_requests

php_admin_value[allow_url_fopen] = "Off"
php_admin_value[allow_url_include] = "Off"
php_admin_value[enable_dl] = "Off"

#for $property in $properties
php_admin_value[$property] = $properties[$property]
#end for
