user                 $user;
worker_processes     1;

error_log            $error_log;
pid                  $pid_file;

events {
  worker_connections 1024;
}

http {
  ## GENERAL SETTINGS
  include            /etc/nginx/mime.types;
  access_log         $access_log;
  sendfile           on;
  keepalive_timeout  65;
  tcp_nodelay        on;
  gzip               on;
  gzip_disable       "MSIE [1-6]\.(?!.*SV1)";
  port_in_redirect   off;
  index              index.html index.htm;

  ## CS -- Ganglia -- added extended log format for monitoring response time:
  log_format timed_requests '\$remote_addr - \$remote_user [\$time_local] '
                '"\$request" \$status \$body_bytes_sent '
                'upstream_addr \$upstream_addr'
                '"\$http_referer" "\$http_user_agent" \$msec \$request_time';

  access_log  $timed_log timed_requests;  
  
  #for $code_version in $code_versions
  server {
    listen       $port;
    server_name  $code_version;
    root         $doc_root/$code_version;
  }
  #end for
  server {
    listen       $port default;
    
    location / {
      return 404;
    }
  }
}
