NAME   = $NAME
CPU    = $CPU
MEMORY = $MEM_SIZE
   OS     = [
   $OS 
   ]
DISK   = [
   IMAGE_ID = $IMAGE_ID,
   $DISK 
   ]
NIC    = [ NETWORK_ID = $NETWORK_ID ]
GRAPHICS = [
  type="vnc"
  ]
CONTEXT = [
	vmid=$VMID,
	vmname=$NAME,
	userdata=$AGENT_USER_DATA,
	ip_public="$NIC[IP]",
  $CONTEXT
  ]
RANK = "- RUNNING_VMS"