[MySQL_root_connection]
location=localhost
password=contrail
username=contrail

[MySQL_configuration]
my_cnf_file=/etc/mysql/my.cnf

[supervisor]
user = contrail
password = contrail
port = 9001

[ConPaaSSQL]
agent_interface=0.0.0.0
agent_port=60000
manager_ip=0.0.0.0
manager_port=50000
vm_id=10
vm_name=agent10