[conpaas]
# Path to ConPaaS conf dir
CONF_DIR = /etc/cpsdirector

# Path to certificates
CERT_DIR = /etc/cpsdirector/certs

# Unique name of the current ConPaaS deployment
DEPLOYMENT_NAME = conpaas-online

# Support for external identity providers
SUPPORT_EXTERNAL_IDP = false

# Maximum credit for new users created through the director's interface /new_user
MAX_CREDIT = 50


[iaas]
##############
# Amazon EC2 #
##############

# Multicloud support: uncomment the OTHER_CLOUDS directive if you want to be
# able to use ConPaaS on more than one cloud. Choose a name for each of the
# additional clouds you want to use and create a corresponding configuration
# section. Please refer to /etc/cpsdirector/director.cfg.multicloud-example for
# more details.

# OTHER_CLOUDS = cloud1,cloud2

# Uncomment the following directives and set them to the appropriate values
# if you want to use ConPaaS on Amazon EC2. If you want to use OpenStack,
# skip this part and fill in the directives for OpenStack, which you can
# find further down in this file.

# Uncomment the following line to use ConPaaS on Amazon EC2:
# DRIVER = ec2

# USER should be set to your EC2 user name. Beware: this is not the
# email address you normally use to login at the AWS management console.
# An EC2 user name is a long opaque string. It can be found at
# https://console.aws.amazon.com/iam/home?#users
# under the name "Access key ID" in the "Security Credentials" tab
# at the bottom of the page after you select one of the users in the
# list. If the list is empty, then you must create a new one.

# USER =

# PASSWORD should be set to the corresponding password.
# Again, this is a long opaque string (longer than the USER). You should
# normally have saved this information when you created a user. If you
# have lost this information then the only thing you can do is create a
# new access key for this user (by clicking "Manage Access Keys").

# PASSWORD =

# This variable contains the created security group from the Web hosting
# service. Your security groups can be found under "NETWORK & SECURITY"
# in the left-side column of
# https://console.aws.amazon.com/ec2/.
# Please make sure that the security group you specify here exists in the
# region you want to use.

# SECURITY_GROUP_NAME =

# This variable contains the Key Pair name  to be used.  Your keypairs can be
# found under "NETWORK & SECURITY" on https://console.aws.amazon.com/ec2/
# Please make sure that the keypair you specify here exists in the region you
# want to use.

# KEY_NAME =

# Amazon EC2 region.
#
# Valid values are:
#
# - ec2.us-east-1.amazonaws.com      # United States East (Northern Virginia)
# - ec2.us-west-1.amazonaws.com      # United States West (Northern California)
# - ec2.us-west-2.amazonaws.com      # United States West (Oregon)
# - ec2.eu-west-1.amazonaws.com      # Europe West (Ireland)
# - ec2.ap-northeast-1.amazonaws.com # Asia Pacific (Tokyo)
# - ec2.ap-southeast-1.amazonaws.com # Asia Pacific (Singapore)
# - ec2.ap-southeast-2.amazonaws.com # Asia Pacific (Sydney)
# - ec2.sa-east-1.amazonaws.com      # South America (Sao Paulo)

# REGION = ec2.us-east-1.amazonaws.com

# This variable contains the identifier of the ConPaaS Amazon Machine Image.
#
# Please set this value according to the region you want to use (see
# REGION).
#
# ConPaaS official AMI ids are:
#
# - ami-14f2d903 United States East (Northern Virginia)
# - ami-0db8ed6d United States West (Northern California)
# - ami-9dae03fd United States West (Oregon)
# - ami-db5e0da8 Europe West (Ireland)
# - ami-36f15b57 Asia Pacific (Tokyo)
# - ami-45389b26 Asia Pacific (Singapore)
# - ami-5f84bb3c Asia Pacific (Sydney)
# - ami-5b1c8337 South America (Sao Paulo)

# IMAGE_ID = ami-14f2d903

# This variable contains the type of EC2 instances to use. A good value to use
# inexpensive, low-performance instances is "t1.micro".

# SIZE_ID = t1.micro


#############
# OpenStack #
#############

# Uncomment the following directives and set them to the appropriate values if
# you want to use ConPaaS on OpenStack. If you want to use Amazon EC2, skip
# this part and fill in the directives for Amazon EC2, which you can find
# above.

# DRIVER = openstack

# USER and PASSWORD should be set to the credentials that you have for your
# OpenStack deployment. These are the same credentials that you use to login
# into the OpenStack dashboard (Horizon).

# USER = admin
# PASSWORD = password

# HOST should contain the fully qualified domain name (FQDN) or IP address of
# the controller node where OpenStack services are running.

# HOST = 172.16.0.1

# This variable contains the security group that will enforce network filtering
# rules for all the instances. Your security groups can be found in Horizon by
# navigating to the "Project" > "Compute" > "Access & Security" menu in the left
# pane of the dashboard and then selecting the "Security Groups" tab. Using the
# command line, the security groups can be listed using "nova secgroup-list".
# For more information on creating or editing a security group, please refer to
# the ConPaaS installation guide in the "Security Group" section.

# SECURITY_GROUP_NAME = default

# This variable contains the Key Pair name to be used. In Horizon, the keypairs
# can be found by navigating to the "Project" > "Compute" > "Access & Security"
# menu and then selecting the "Key Pairs" tab. Using the command line, the key
# pairs can be listed using "nova keypair-list". In the default configuration
# there is no key pair created, so you should create one.

# KEY_NAME = test-key

# This variable contains the name of the ConPaaS image as it is registered
# in OpenStack. In Horizon, the value can be obtained by navigating to the
# "Admin" > "System" > "Images" menu. Using the command line, the registered
# images can be listed using the "glance image-list" command. For more information
# on how to register a new image, please consult the "Registering your ConPaaS
# image to OpenStack" section of the ConPaaS installation guide.

# IMAGE_ID = conpaas

# This variable contains the type of OpenStack instances to use, called "flavor"
# in OpenStack terminology. In Horizon, the accepted values can be obtained by
# navigating to the "Admin" > "System" > "Flavors" menu. Using the command line,
# the available flavors can be listed using "nova flavor-list".

# SIZE_ID = m1.micro

# This variable contains the name or the id of the network where the VM or container
# will be booted. If there is only one network, it is not neccessary to set this
# parameter, Openstack will pick the default one.

# NETWORK_ID = conpaas-net

# The following variable should match the ability of the network component of
# OpenStack to auto-assigning public (floating) IPs to the newly created VMs.
# For example if you use nova-network, auto assignment is possible, therefore
# this flag should be set to "true". However, neutron does not support auto-assignment
# of floating ips, hence that has to be done by ConPaaS. In order to instruct
# ConPaaS to do that, this flag has to be set to "false". If not set the system
# will take "true" as the default value. Note that if this flag is left "true"
# while the network component does not support auto-assignment will result in
# the director waiting forever for the manager to start.

# AUTO_ASSIGN_FLOATING_IP = true


[director]
DEBUG = true
DATABASE_URI = sqlite:////etc/cpsdirector/director.db
USERDATA_DIR = /etc/cpsdirector/data
# This is where ConPaaS.tar.gz is expected to be found, as well as the
# decrement credit callback. conpaas-director provides both functionalities:
# put the public IP address of the machine running the director here.
#DIRECTOR_URL = https://director.example.org:5555

