include director.cfg.example
include director.cfg.multicloud-example
include director.wsgi
include ConPaaS.tar.gz
include ConPaaS.pdf
include install.sh
include Makefile
recursive-include conpaas *
recursive-exclude conpaas *~

