[iaas]
DRIVER=OPENNEBULA_XMLRPC
OPENNEBULA_URL=$ONEURL
OPENNEBULA_USER = $USER
OPENNEBULA_PASSWORD= $PASSWORD
OPENNEBULA_IMAGE_ID = $ONE_IMAGE_ID
OPENNEBULA_SIZE_ID = 1
OPENNEBULA_NETWORK_ID = $ONE_NET_ID
OPENNEBULA_NETWORK_GATEWAY= $GATEWAY
OPENNEBULA_NETWORK_NAMESERVER=$NAMESERVER

[manager]
find_existing_agents = true
logfile=/var/log/conpaassql-out.log
poll_agents_timer=10

[onevm_agent_template]
FILENAME=/root/conpaassql/scripts/one-scripts/agent/agent.template
USERDATA=/root/conpaassql/scripts/one-scripts/agent/init.sh
NAME=conpaassql_server
CPU=0.2
MEM_SIZE=256
DISK=readonly=no
OS=arch=x86_64,boot=hd
IMAGE_ID=$ONE_IMAGE_ID
NETWORK_ID=$ONE_NET_ID
CONTEXT=ip_gateway="$GATEWAY",netmask="255.255.255.0",nameserver="$NAMESERVER"