NAME = conpaas-sql-manager CPU = 0.5 MEMORY = 128
   OS     = [ boot="hd", arch="x86_64" ]

DISK   = [
   image_id = 221,
   readonly = "no"
]

NIC    = [ 
   NETWORK = "private-lan"
   ]

GRAPHICS = [
  type="vnc"  
  ]

CONTEXT = [
 hostname="conpaas-mysql",
 ip_public  = "$NIC[IP]",
 ip_gateway  = "10.1.0.254",
 netmask = "255.255.255.0",
 nameserver = "192.168.122.1",
 userdata = $USERDATA
]
RANK = "- RUNNING_VMS"