[iaas]
DRIVER=OPENNEBULA_XMLRPC
OPENNEBULA_URL=http://10.30.1.9:2633/RPC2
#OPENNEBULA_URL=http://127.0.0.1:2633/RPC2
OPENNEBULA_USER=oneadmin
OPENNEBULA_PASSWORD=oneadmin
OPENNEBULA_IMAGE_ID=166
OPENNEBULA_NETWORK_ID=195
OPENNEBULA_SIZE_ID=1
OPENNEBULA_CONTEXT_SCRIPT_MANAGER=/home/ales/sql/manager/conpaassql-install.sh
OPENNEBULA_CONTEXT_SCRIPT_AGENT=/home/ales/sql/agent/conpaassql-install.sh